* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
  background-color: lightsteelblue;
  padding: 40px 20px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.spacing {
  margin-top: 25px;
}

.profession::after {
  content: "👨‍🎓";
}

.nav {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

.nav:hover {
  background-color: thistle;
  font-weight: bold;
}

.nav:active {
  background-color: tomato;
}

.exp-heading {
  display: inline-block;
}

.exp-subheading {
  display: inline-block;
}

/*borders over main articles*/
article + article {
  border-top: solid gray;
}

::selection {
  background-color: gray;
  color: white;
}
