* {
  box-sizing: border-box;
}

* {
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
  background-color: lightsteelblue;
  padding: 40px 20px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
