/***************************************************************/
/* General Styling*/

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  color: var(--main-color);
  --main-color: black;
  --nav-bar-color: white;
  --header-bg-color: rgb(238, 174, 202);
  --header-gradient: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 190, 233, 1) 100%
  );
  --selection-bg-color: gray;
  --selection-color: white;
  --hire-me-bg-color: white;
  --hire-me-color: black;
  --border-top-color: solid rgb(157, 189, 229);
  --nav-hover-color: thistle;
  --nav-active-color: tomato;
  --footer-bg-color: rgb(157, 189, 229);
  --page-bg-color: white;
  --page-text-color: black;
  --nav-focus-color: green;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

body {
  margin: 0;
  background-color: var(--page-bg-color);
  color: var(--page-text-color);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-bg-color: black;
    --page-text-color: white;
    --hire-me-color: white;
    --hire-me-bg-color: black;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-color);
}

/***************************************************************/
/* Specific Styling*/

.header {
  text-align: center;
  background-color: lightsteelblue;
  padding: 2rem 1rem;
  background: var(--header-bg-color);
  background: var(--header-gradient);
}

.hire-me {
  position: absolute;
  right: 1.5rem;
  top: 1.25rem;
  background-color: var(--hire-me-bg-color);
  color: var(--hire-me-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: "👨‍🎓";
}

main article {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.main {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
}

/*borders over main articles*/
article + article {
  border-top: var(--border-top-color);
}

.spacing {
  margin-top: 1.25rem;
}

@media screen and (min-width: 786px) {
  .spacing {
    margin-top: 1.35rem;
  }
}

@media screen and (min-width: 992px) {
  .spacing {
    margin-top: 1.5rem;
  }
}

/* navigation bar */
.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main-navigation {
    flex-direction: row;
  }
}

@media print {
  nav {
    display: none;
  }
}

.nav {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: var(--nav-bar-color);
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s, background-color 0.3s, font-weight 0.3s;
  border-radius: 5px;
}

.nav:hover {
  background-color: var(--nav-hover-color);

  font-weight: bold;
}

.nav:focus {
  color: var(--nav-focus-color);
}

.nav:active {
  background-color: var(--nav-active-color);
}
/******************/

.exp-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .exp-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.exp-heading {
  display: inline-block;
}

.exp-subheading {
  display: inline-block;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.footer-style {
  background-color: var(--footer-bg-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.outro {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
}
